@import '../../styles/colors';

// needed to specify it is a button, it won't pick up just the class name and we are not sure why
button.BtnLogout {
  width: 100%;
  height: 100%;

  &:hover {
    color: $dyingUrchin;
  }

  &:active {
    color: $tepidAngst;
  }
}
